@model IEnumerable<Herramientas_Pro.Models.Entradas_Salidas>

@{
    ViewData["Title"] = "Index";
}

<h1>Entradas Salidas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diseño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vidrios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baranda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montajes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plotters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peldaños)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tornilleria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diseño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vidrios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baranda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montajes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plotters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peldaños)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tornilleria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
