@model IEnumerable<Herramientas_Pro.Models.Productos>

<style>
    th{
        margin:2rem;
        text-align:center;
        color:blue;
        border-left:2px solid black;
    }

    td {
        margin: 2rem;
        text-align: center;
    }

    .registros {
        margin-top:1rem;
        border: 2px solid black;
        border-radius: 20%;
    }
</style>    

<h2>Lista de Productos :D</h2>


<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Información</th>
            <th>Especificación</th>
            <th>Código de Producto</th>
            <th>Cantidad Mínima</th>
            <th>Unidad</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="registros">
                <td>@item.Producto</td>
                <td>@item.Categoria</td>
                <td>@item.Info</td>
                <td>@item.Especificacion</td>
                <td>@item.Codigo_Producto</td>
                <td>@item.Cantidad_Minima</td>
                <td>@item.Coste_Unidad</td>
                <td>@item.Ubicacion</td>
                <td><a href="productos/editar/@item.Id" class="btn btn-primary">Editar</a></td>
                <td><a href="productos/Borrar/@item.Id" class="btn btn-danger">Borrar</a></td>

            </tr>
        }
    </tbody>
</table>

<br />
<a href="productos/CrearProducto" class="btn btn-primary">Crear Producto</a>


