@model Herramientas_Pro.Models.Pedidos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presupuestos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presupuestos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nube_Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nube_Puntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diseño_Inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diseño_Inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fimra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fimra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>